{% extends 'base.html' %}
{% load static %}
{% block index %}

<head>
    <link rel="stylesheet" href="{% static 'mysite/about/about.css' %}">
</head>
<header>   
<section class="about">
    <div class="aboutbg">
        <h1>About Us</h1>

    </div>
    <div data-aos="fade" class="title">
        
        <p>Press PR is Kashmir based public relation company founded by a young group of local journalists. Our team has
            a vast
            work experience in the media sector like print, broadcast and advertising which helps our clients achieve
            business
            targets through effective and targeted communication.
            We design our strategies as per the needs and demands of our clients so as to give them maximum leverage of
            brand image
            in the market through our dedicated staff.
            Our approach to PR and marketing communications means your messages will resonate, win you recognition and
            deliver a
            return on investment.
            As Kashmir is an untapped market, the companies can hire our service to leverage their brand in this region.
        </p>
    </div>

</section>
{% endblock %}